$font-color: #5c5c5c;
$btn-color: #ffffff;
$input-color: #ffffff;
$bg-color: #ffffff;
@mixin btn {
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
  text-transform: uppercase;
  color: #92bfb6;
  font-weight: 600;
  background: $btn-color;
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
  }

  &:active {
    background: darken($btn-color, 10%);
  }

  &:disabled {
    opacity: 0.3;
  }
}

input {
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  background: $input-color;
  border: 1px solid #e8e8e8;
  box-shadow: inset 0 0 10px 1px rgba(0,0,0,0.05);

  &:focus {
    outline: none;
    background: #d0f3ed;
  }
}

.root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  width: 100%;
  margin: 0 0 1rem;

  button {
    @include btn;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem;
    font-weight: 400;
  }
}

.form {
  color: $font-color;
  max-width: 600px;
  padding: 1rem;
  background: $bg-color;
  border-radius: 4px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);

  h1 {
    text-align: center;
  }
}

.inputBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    margin-right: 10px;
    font-size: 0.8rem;
  }

  margin-bottom: 1rem;
}

.hiddenEl {
  position: relative;
  transform: translateY(-100px);
  opacity: 0;
}

.changedPositionElements {
  position: relative;
  transform: translateY(-25px);
}

.btn_group {
  .btn {
    @include btn;
    padding: 0.5rem 1rem;
    transition: 0.2s;
    width: 110px;
    opacity: 1;
  }
}


.leftSide {
  position: absolute;
  left: -20%;
  top: 0;
  width: 120vmin;
  height: 120vmin;
  border-radius: 50%;
  z-index: -1;
  background: #9eeee2;
  opacity: 0.8;
}

.rightSide {
  position: absolute;
  right: -20%;
  bottom: 0;
  width: 110vmin;
  height: 110vmin;
  border-radius: 50%;
  z-index: -2;
  background: #32c0cd;
  opacity: 0.8;
}