* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #485665;
}

.router_container {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}
